@import "theme.css";

:root {
  font-family: 'Nunito', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.0;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  font-weight: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

html {
  color: var(--tx-color);
  background: var(--bg-color);
}

body {
  margin: 0;
  color: var(--tx-color);
  background: var(--bg-color);
  transition: color 0.25s, background-color 0.25s;

  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5rem 0.75rem;
}

button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  color: var(--tx-color);
  background: transparent;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: none;
}

textarea {
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
}

svg {
  width: 1.8em;
  height: 1.8em;
}
